---
import Layout from "./Layout.astro";
import { getCollection, getEntry } from "astro:content";
import type { MarkdownLayoutProps } from "astro";
import '../styles/main.scss';
import ProfileList from "../components/profiles/list"
import allProfiles from "../../data/profiles.json";

type Props =
  | {
      title: string;
      city: string;
      country: string;
      courses: Array<string>;
      image: string;
      image_alt: string;
      logo_image: string;
      body: string;
    }
  | MarkdownLayoutProps<{
      title: string;
      city: string;
      country: string;
      courses: Array<string>;
      image: string;
      image_alt: string;
      logo_image: string;
    }>;


const props = Astro.props.frontmatter ?? Astro.props;
const { title, city, country, courses, image, image_alt, logo_image } = props;

let profiles = [];

for (let i = 0; i < allProfiles.length; i++) {
  const profile = allProfiles[i];

  if (title === profile.data.location) {
    profiles.push(profile);
  }
}
---

<Layout {...props}>
  <main>
    <section>
      <div>
        <a class="inline-flex items-center py-5 hover:text-[#034AD8]" href="/locations/">
          <i class="ph-arrow-left mr-2 text-xl" ></i>
          <span class="hover:underline hover:underline-offset-4">Back</span>
        </a>
        <div class="grid md:grid-cols-2 gap-8">
          <img
            class="rounded-lg aspect-[4/3]"
            src={image}
            alt={image_alt}
          />
            <div>
              <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-semibold">{title}</h1>
              <div class="pb-5">
                <p>{city}, {country}</p>
              </div>
              <hr>
              <ul class="mx-auto max-w-[900px] font-light leading-6 py-5">
                {courses.map((course: string, i: number) => (
                  <li>{course}</li>
                ))}
              </ul>
              <hr>
              <div class="mx-auto my-10 max-w-[900px] font-light leading-6">
                <slot />
              </div>
            </div>
        </div>
        <ProfileList profiles={profiles} />
      </div>
    </section>
  </main>
</Layout>

<style>
  .post-size {
    position: relative;
  }

  .post-size::after {
    position: absolute;
    content: '';
    background: #4d4d4d;
    width: 1px;
    height: 15px;
    top: 50%;
    right: -10%;
    transform: translate(-50%,-50%)
  }

  @media (min-width: 640px) {
    .post-data-list-item {
      position: relative;
    }
    
    .post-data-list-item::after {
      position: absolute;
      content: '';
      background: #4d4d4d;
      width: 1px;
      height: 15px;
      top: 50%;
      right: -12%;
      transform: translate(-50%,-50%)
    }
	}
</style>

